---
import { siteIdentity } from "../data/site";
---

<aside class="notice" aria-label="Unofficial site notice">
  <div class="notice__inner container">
    <span class="notice__mark" aria-hidden="true"></span>
    <p>{siteIdentity.disclaimer}</p>
  </div>
</aside>
